<% layout('/layouts/boilerplate') %>

<div id="filters-container">
  <div id="filters">
    <a class="filter active" href="/listings">
      <div><i class="fa-solid fa-house"></i></div>
      <p>All</p>
    </a>
    <a class="filter" href="/listings/filter/Iconic cities">
      <div><i class="fa-solid fa-mountain-city"></i></div>
      <p>Iconic cities</p>
    </a>
    <a class="filter" href="/listings/filter/Mountains">
      <div><i class="fa-solid fa-mountain"></i></div>
      <p>Mountains</p>
    </a>
    <a class="filter" href="/listings/filter/Castles">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
      <p>Castles</p>
    </a>
    <a class="filter" href="/listings/filter/Rooms">
      <div><i class="fa-solid fa-bed"></i></div>
      <p>Rooms</p>
    </a>
    <a class="filter" href="/listings/filter/Amazing pools">
      <div><i class="fa-solid fa-person-swimming"></i></div>
      <p>pools</p>
    </a>
    <a class="filter" href="/listings/filter/Camping">
      <div><i class="fa-solid fa-campground"></i></div>
      <p>Camping</p>
    </a>
    <a class="filter" href="/listings/filter/Farms">
      <div><i class="fa-solid fa-cow"></i></div>
      <p>Farms</p>
    </a>
    <a class="filter" href="/listings/filter/Arctic">
      <div><i class="fa-regular fa-snowflake"></i></div>
      <p>Arctic</p>
    </a>
    <a class="filter" href="/listings/filter/Boats">
      <div><i class="fa-solid fa-ship"></i></div>
      <p>Boats</p>
    </a>

    <div class="tax-toggle border border-secondary-subtle">
      <div class="form-check-reverse form-switch">
        <input
          class="form-check-input border border-secondary-subtle"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
        <label class="form-check-label" for="flexSwitchCheckDefault"
          >Display total after taxes</label
        >
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3 listings-container">
  <% for(let listing of allListings) { %>
  <div class="col">
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card h-100 listing-image">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top card-img-effect"
          alt="listing_image"
        />
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br />
            <span class="price-info" data-base-price="<%= listing.price %>">
              &#8377; <%= listing.price.toLocaleString("en-IN") %> /night
            </span>
          </p>
        </div>
      </div>
    </a>
  </div>
  <% } %>
</div>
